
API/.vs/UniUnboxdAPI/config/applicationhost.config
API/.vs/UniUnboxdAPI/DesignTimeBuild/.dtbcache.v2
API/.vs/UniUnboxdAPI/FileContentIndex/16658513-8e14-492e-9a32-4aa2ccd9e57e.vsidx
API/.vs/UniUnboxdAPI/v17/.suo
API/UniUnboxdAPI/bin/Debug/net8.0/appsettings.Development.json
API/UniUnboxdAPI/bin/Debug/net8.0/appsettings.json
API/UniUnboxdAPI/bin/Debug/net8.0/Azure.Core.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Azure.Identity.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Azure.Security.KeyVault.Certificates.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Azure.Security.KeyVault.Secrets.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Abstractions.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Client.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Web.Certificate.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Web.Certificateless.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Web.Diagnostics.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Web.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Web.DownstreamApi.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Web.TokenAcquisition.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Identity.Web.TokenCache.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.IdentityModel.LoggingExtensions.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Validators.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
API/UniUnboxdAPI/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
API/UniUnboxdAPI/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
API/UniUnboxdAPI/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
API/UniUnboxdAPI/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
API/UniUnboxdAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
API/UniUnboxdAPI/bin/Debug/net8.0/System.Drawing.Common.dll
API/UniUnboxdAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
API/UniUnboxdAPI/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
API/UniUnboxdAPI/bin/Debug/net8.0/UniUnboxdAPI.deps.json
API/UniUnboxdAPI/bin/Debug/net8.0/UniUnboxdAPI.dll
API/UniUnboxdAPI/bin/Debug/net8.0/UniUnboxdAPI.exe
API/UniUnboxdAPI/bin/Debug/net8.0/UniUnboxdAPI.pdb
API/UniUnboxdAPI/bin/Debug/net8.0/UniUnboxdAPI.runtimeconfig.json
API/UniUnboxdAPI/obj/Debug/net8.0/apphost.exe
API/UniUnboxdAPI/obj/Debug/net8.0/ref/UniUnboxdAPI.dll
API/UniUnboxdAPI/obj/Debug/net8.0/refint/UniUnboxdAPI.dll
API/UniUnboxdAPI/obj/Debug/net8.0/staticwebassets.build.json
API/UniUnboxdAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.UniUnboxdAPI.props
API/UniUnboxdAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.UniUnboxdAPI.props
API/UniUnboxdAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.UniUnboxdAPI.props
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.AssemblyInfo.cs
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.AssemblyInfoInputs.cache
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.assets.cache
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.csproj.BuildWithSkipAnalyzers
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.csproj.CopyComplete
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.csproj.CoreCompileInputs.cache
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.csproj.FileListAbsolute.txt
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.dll
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.GeneratedMSBuildEditorConfig.editorconfig
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.genruntimeconfig.cache
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.MvcApplicationPartsAssemblyInfo.cache
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.MvcApplicationPartsAssemblyInfo.cs
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.pdb
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.sourcelink.json
API/UniUnboxdAPI/obj/project.assets.json
API/UniUnboxdAPI/obj/project.nuget.cache
API/UniUnboxdAPI/obj/UniUnboxdAPI.csproj.nuget.dgspec.json
API/UniUnboxdAPI/obj/UniUnboxdAPI.csproj.nuget.dgspec.json
API/UniUnboxdAPI/obj/project.nuget.cache
API/UniUnboxdAPI/obj/project.assets.json
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.GeneratedMSBuildEditorConfig.editorconfig
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.assets.cache
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.AssemblyInfoInputs.cache
API/UniUnboxdAPI/obj/Debug/net8.0/UniUnboxdAPI.AssemblyInfo.cs
